<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

<!-- 
 <bean id="etiqueta" class="com.julio.otros.Etiqueta" factory-method="valueOf">
        <constructor-arg>
         <value>B</value>
     </constructor-arg>
  </bean>
  

  
  <bean id="miEtiqueta" class="com.julio.otros.Etiqueta">
   <property name="tipo" ref="dis" />
  </bean>
 
   -->
     <bean id="dis" class="com.julio.otros.Etiqueta" factory-method="valueOf">
     <constructor-arg>
         <value>B</value>
     </constructor-arg>
 </bean> 
  <bean id="coche" class="com.julio.garage.Coche">
      <property name="etiqueta" ref="dis" />
 </bean>


</beans>